body {

    font-family: 'Caveat', cursive;
    font-family: 'PT Serif', serif;
    
}

.bg-medium {

    background-color: #ffc017; 
    
}

.border_bg_btt_medium {

    border-bottom: 1px solid #4a4026;

}

.baslik {

    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
}